:root {
  --main-dark: #000000;
  --main-light: #ffffff;
  --secondary-dark: #023047;
  --secondary-light: #8ecae6;
  --accent-warm: #fb8500;
  --accent-cold: #219ebc;
  --accent-bright: #ffb703;
}

#footer {
  background-color: var(--secondary-dark);
  min-height: 200px;
}

.sub-heading {
  font-size: 1.75rem;
}

/* BACKGROUNDS
*****************/
.bg-pale {
  background-color: var(--secondary-light);
}

.bg-shadow {
  background-color: var(--secondary-dark);
}

.bg-accent {
  background-color: var(--accent-warm);
}

/* TABLES
**********/
.fav-icn {
  max-height: 18px;
  width: auto;
}

/* FORMS
**********/
.form-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  position: relative;
}

.form-label {
  color: #767676;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  top: -7px;
  left: 10px;
}

.horizontal-separator {
  width: 100%;
  height: 12px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 30px;
}

.text-separator {
  font-size: 14px;
  background-color: #fff;
  padding: 0 10px;
}

/* LOGO
**********/
.logo-container {
  /* Used in the footer */
  position: relative;
}

.logo-text {
  /* Used in the footer */
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  color: var(--main-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  left: 32px;
}
.satellite-logo {
  position: relative;
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 22px;
  transition:.5s ease-in-out;
}

.satellite-logo:hover {
rotate: 1.75turn;
}

.satellite {
  width: 100%;
  height: 100%;
  border: 4px solid #219ebc;
  border-radius: 50%;
  position: relative;
}

.antenna {
  width: 20%;
  height: 62%;
  background: #fb8500;
  position: absolute;
  top: -80%;
  left: 50%;
  transform: rotate(-45deg);
}

/* BOOTSTRAP
***************/
.navbar {
  background-color: var(--secondary-dark);
}
