<div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Region</th>
                <th scope="col">latitude</th>
                <th scope="col">longitude</th>
                <th scope="col">altitude</th>
                <th scope="col">Satellite</th>
                <th scope="col">description</th>
                <th scope="col">Image</th>
                <th scope="col">Favorite</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>21.33</td>
                <td>Fin</td>
                <td>jossain</td>
                <td>jossain</td>
                <td>jossain</td>
                <td>@satelliitti</td>
                <td>
                  Et man braid meditation, organic semiotics hella palo santo
                  laboris fugiat.
                </td>
                <td>kuva</td>
                <td>
                    <img
                      id="fav"
                      class="fav-icn"
                      src="/static/images/heart_outline.png"
                    />
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  