<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="nav-link" aria-current="page" href="/">
        <div class="satellite-logo">
          <div class="satellite">
            <div class="antenna"></div>
          </div>
        </div>
      </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/data-feed">Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel">Admin</a>
        </li>
      </ul>
      {% if session.username %}
      <p class="login-info-text">Logged in as: {{ session.username }}</p>
      <a class="btn btn-outline-light" href="/logout">Logout</a>
      {% else %}
      <a class="btn btn-outline-light" href="/login">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
