<div class="form-container">
  <div>
    <h1>Create an account</h1>
    <p>Please create an account to continue.</p>
  </div>
  <form action="/sign-up" method="POST">
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" required />

    <label for="pw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pw" required />

    <button type="submit">Sign in</button>
  </form>
  <div class="horizontal-separator">
    <span class="text-separator">OR</span>
  </div>
  <div>
    <p>Already have an account?</p>
    <p><a href="../login">Sign Up</a></p>
  </div>
</div>